body {
  margin: 0 auto;
  max-width: 1080px;
  background-color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-color: #4EA1FF;
  background-image: url(../../img/pattern.png);
  height: 100px;
  background-size: 37%;
}

.logo {
  height: 50px;
}

h1 {
  font-weight: 900;
  font-size: xx-large;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #7ACAEA;
}

.gray-font {
  color: gray;
}

ul {
  list-style-position: inside;
  padding-inline-start: 0%
}

span {
  font-size: 70%;
}

.photo-description {
  font-size: 70%;
  font-weight: 600;
  margin-top: 0;
}

th {
  background-color: #1FAAE4;
  color: #fff;
  text-align: left;
}

.coloured-lines {
  background-color: #B1E6F2;
}

.large-cell {
  width: 50%;
}
