body {
  margin: 0 auto;
  max-width: 1080px;
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #4EA1FF;
  background-image:url(../../img/pattern.png);
  height: 100px;
  background-size: 26%;
}
.logo{
  height: 50px;
}
h1{
  font-weight: 900;
  font-size: xx-large;
  margin-bottom: 0;
    
}
section p{
  color: lightgray;
  text-decoration: none;
}

